
<tr id="<%= dom_id friend %>">
  <td>
    <%= friend.firstname %>
  </td>
  <td>
    <%= friend.lastname %>
  </td>
  <td>
    <%= friend.email %>
  </td>
  <td>
    <%= friend.phone %>
  </td>
  <td>
    <%= friend.twitter %>
  </td>
  <td>
    <button type="button" class="btn btn-primary">
      <%= link_to "Show", friend, class: 'nav-link' %>
    </button>
  </td>
</tr>
